In [1]:
# 1.3
x = 5 >= 2
A = {1, 3, 7, 8}
B = {2, 4, 5, 10, "apple"}
C = A & B
df = 'Antonova Antonina', 34, 'j'
z = 'type'
D = [1, 'title', 2, 'context']
print(x, type(x))
print(A, type(A))
print(B, type(B))
print(C, type(C))
print(df, type(df))
print(z, type(z))
print(D, type(D))

True <class 'bool'>
{8, 1, 3, 7} <class 'set'>
{'apple', 2, 4, 5, 10} <class 'set'>
set() <class 'set'>
('Antonova Antonina', 34, 'j') <class 'tuple'>
type <class 'str'>
[1, 'title', 2, 'context'] <class 'list'>

In [2]:
# 2.3
x = int(input())
if x < -5:
    print('first interval')
elif x <= 5:
    print('second interval')
else:
    print('third interval')

5
second interval

In [4]:
# 3.3.1 (3.2.1)
x = 10
while x >= 1:
    print(x)
    x -= 3

10
7
4
1

In [5]:
# 3.3.2
name = "Gregory"
second_name = "Gumerov"
height = 181
engaged = False
job = "IT teacher"
person = [name, second_name, height, engaged, job]
print(person)

['Gregory', 'Gumerov', 181, False, 'IT teacher']

In [7]:
# 3.3.3
l = list(range(2, 16))
print(l)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [1]:
# 3.3.4
print(list(range(105, 4, -25)))

[105, 80, 55, 30, 5]

In [12]:
# 3.3.5
l = list(range(0, 10))
print(l)
for i in range(5):
    if i % 2 == 0:
        l[i], l[8 - i] = l[8 - i], l[i]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[8, 1, 6, 3, 4, 5, 2, 7, 0, 9]